<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href='/chart.js/dist/Chart.min.css' />
        <link rel="stylesheet" type="text/css" href='/semantic/semantic.min.css' />
    </head>
    <body>
        <div class="ui inverted segment">
            <div class="ui inverted secondary pointing menu">
                <a href="/" class="<%if(title == "Distribuciones"){%>active <%}%>item">
                    Distribuciones
                </a>
                <a href="/juego" class="<%if(title == "Volados"){%>active <%}%>item">
                    Volados
                </a>
                <a href="/tinas" class="<%if(title == "Bañeras"){%>active <%}%>item">
                    Bañeras
                </a>
            </div>
        </div>
        <%- include(fragment); -%>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            Developed by: 
                            <a href="#" class="item">Jhon Carrión</a>
                            <a href="mailto:jhon.carrion@unl.edu.ec" class="item">jhon.carrion@unl.edu.ec</a>
                            <a href="#" class="item">0987605182</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Creditos</h4>
                        <p>Este proyecto fue desarrollado para la  materia de Simulación. <br>
                            Libreria Estadistica: <a href="https://github.com/jstat/jstat">jStat</a><br>
                            Libreria Gráfica: <a href="https://www.chartjs.org/">Chart.js</a><br>
                            Framework CSS: <a href="https://semantic-ui.com/">Semantic UI</a><br>
                            Motor de Plantillas: <a href="https://ejs.co/">EJS</a><br>
                            Servidor de Aplicaciones: <a href="https://nodejs.org/es/">NodeJS</a></p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="/chart.js/dist/Chart.min.js"></script>
        <script src="/semantic/semantic.min.js"></script>
    </body>
</html>
