<div class="ui equal width grid">
    <div class="column">
        <!--
<div class="ui segment">
1
</div>
-->
    </div>
    <div class="fourteen wide column">
        <div class="ui centered cards">
            <!--   Seccion Normal    -->
            <div class="card">
                <div class="content">
                    <div class="header">Distribución Normal</div>
                    <div class="description">
                        <div class="summary">
                            <p>Se presentan los datos de la distribución normal, al dar click en generar. Por favor ingrese los datos antes de generar la gráfica.</p>
                            <div class="ui left icon input">
                                <input type="text" id="mean" placeholder="media">
                                <i class="users icon"></i>
                            </div>
                            <div class="ui left icon input">
                                <input type="text" id="std" placeholder="desviación estandar">
                                <i class="users icon"></i>
                            </div>
                            <div class="ui left icon input">
                                <input type="text" id="tam" placeholder="cantidad de datos">
                                <i class="users icon"></i>
                            </div>
                            <div id="ol_normal"></div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned author">
                        <div class="ui buttons">
                            <button class="ui button">Cancelar</button>
                            <div class="or"></div>
                            <button onclick="getData1()" class="ui positive button">Generar</button>
                            <script>
                                var getData1 = function(){
                                    generate('/normal/' + document.getElementById('mean').value + "/" + document.getElementById('std').value + "/" + document.getElementById('tam').value, 'Distribución Normal', '#ol_normal');
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!--    Fin seccion Normal    -->
            <!--   Seccion Normal Auto   -->
            <div class="card">
                <div class="content">
                    <div class="header">Distribución Normal</div>
                    <div class="description">
                        <div class="summary">
                            <p>Se presentan los datos de la distribución normal, al dar click en generar. Por favor ingrese los datos antes de generar la gráfica. <br>Esta grafica se genera unicamente con la cantidad de datos deseada</p>
                            <div class="ui left icon input">
                                <input type="text" id="tam2" placeholder="cantidad de datos">
                                <i class="users icon"></i>
                            </div>
                            <div id="ol_normal_auto"></div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned author">
                        <div class="ui buttons">
                            <button class="ui button">Cancelar</button>
                            <div class="or"></div>
                            <button onclick="getData2()" class="ui positive button">Generar</button>
                            <script>
                                var getData2 = function(){
                                    generate('/normal/' + document.getElementById('tam2').value, 'Distribución Normal', '#ol_normal_auto');
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!--    Fin seccion Normal Auto   -->
            <!--   Seccion Binomial    -->
            <div class="card">
                <div class="content">
                    <div class="header">Distribución Binomial</div>
                    <div class="description">
                        <div class="summary">
                            <p>Se presentan los datos de la distribución normal, al dar click en generar. Por favor ingrese los datos antes de generar la gráfica.</p>
                            <div class="ui left icon input">
                                <input type="text" id="p" placeholder="probabilidad (p)">
                                <i class="users icon"></i>
                            </div>
                            <div class="ui left icon input">
                                <input type="text" id="tam3" placeholder="cantidad de datos">
                                <i class="users icon"></i>
                            </div>
                            <div id="ol_binomial"></div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned author">
                        <div class="ui buttons">
                            <button class="ui button">Cancelar</button>
                            <div class="or"></div>
                            <button onclick="getData3()" class="ui positive button">Generar</button>
                            <script>
                                var getData3 = function(){
                                    generate('/binomial/' + document.getElementById('p').value + "/" + document.getElementById('tam3').value, 'Distribución Binomial', '#ol_binomial');
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!--    Fin seccion Binomial    -->
            <!--   Seccion Uniforme    -->
            <div class="card">
                <div class="content">
                    <div class="header">Distribución Uniforme</div>
                    <div class="description">
                        <div class="summary">
                            <p>Se presentan los datos de la distribución normal, al dar click en generar. Por favor ingrese los datos antes de generar la gráfica.</p>
                            <div class="ui left icon input">
                                <input type="text" id="a" placeholder="mínimo del intervalo">
                                <i class="users icon"></i>
                            </div>
                            <div class="ui left icon input">
                                <input type="text" id="b" placeholder="máximo del intervalo">
                                <i class="users icon"></i>
                            </div>
                            <div class="ui left icon input">
                                <input type="text" id="tam4" placeholder="cantidad de datos">
                                <i class="users icon"></i>
                            </div>
                            <div id="ol_uniforme"></div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned author">
                        <div class="ui buttons">
                            <button class="ui button">Cancelar</button>
                            <div class="or"></div>
                            <button onclick="getData4()" class="ui positive button">Generar</button>
                            <script>
                                var getData4 = function(){
                                    generate('/uniform/' + document.getElementById('a').value + "/" + document.getElementById('b').value + "/" + document.getElementById('tam4').value, 'Distribución Uniforme', '#ol_uniforme');
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!--    Fin seccion uniforme    -->
        </div>
        <div class="ui top attached button">Gráfica de la funcion de Densidad</div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <canvas id="chartNormal"></canvas>
            </div>
        </div>
        <div class="ui bottom attached button">Jhon A. Carrión P.</div>
    </div>
    <div class="column">
        <!--
<div class="ui segment">
1
</div>
-->
    </div>
</div>
<script>
    var generate = function(url, title, id){
        $.ajax({
            type: 'GET',
            url: url,
            success: function(data) {
                $(id).html("<ol>" +
                           "<li>media: " + data.mean + "</li>" +
                           "<li>mediana: " + data.median + "</li>" +
                           "<li>varianza: " + data.variance + "</li>" +
                           "<li>desviacion estandar: " + data.std + "</li>" +
                           "</ol> ");
                var cont = 0;
                var labels = [];
                var dataSet = [];
                data.dist.forEach(function(item){
                    labels.push(cont); 
                    dataSet.push(item); 
                    cont = cont + 1;
                });
                var ctx = document.getElementById('chartNormal');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: title,
                            data: dataSet,
                            borderColor: [
                                'rgba(153, 102, 255, 0.6)'
                            ]
                        }]
                    }
                }); 
            }
        });
    }
</script>