<div class="ui equal width grid">
    <div class="column">
        <!--
<div class="ui segment">
1
</div>
-->
    </div>
    <div class="fourteen wide column">
        <div class="ui centered cards">
            <!--   Seccion data    -->
            <div class="card">
                <div class="content">
                    <div class="header">Simulación de camion de Tinas</div>
                    <div class="description">
                        <div class="summary">
                            <p>La empresa TIBASA (Fabricante de tinas de baño), tiene asignado un camión especial para el transporte de tinas terminadas. Dicho camión transporta diariamente n tinas. El peso de cada tina sigue la siguiente distribucion de probabilidad:<br><img width="100%" src="/images/distribucion_tinas.png" alt="Distribucion de probabilidad de las tinas"><br>Si la capacidad del camión es de 1 tonelada, ¿Cuál es la probabilidad de que el peso de las tinas exceda la capacidad del camión?</p>
                            <div class="ui left icon input">
                                <input type="text" id="tinas" placeholder="Numero de Tinas">
                                <i class="users icon"></i>
                            </div>
                            <div class="ui left icon input">
                                <input type="text" id="corridas" placeholder="cantidad de corridas">
                                <i class="users icon"></i>
                            </div>
                            <div id="ol_data"></div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned author">
                        <div class="ui buttons">
                            <button class="ui button" onclick="reset()">Cancelar</button>
                            <div class="or"></div>
                            <button onclick="getData1()" class="ui positive button">Generar</button>
                            <script>
                                var getData1 = function(){
                                    if(Number(document.getElementById('corridas').value) > 900000){
                                        var opcion = confirm("Segun las caracteristicas del ordenador, las corridas superiores a 900000, exigen demaciada capacidad; por lo tanto el sistema colapsa.\n si continua el sistema podria o no colapsar.");
                                        if (opcion == true) {
                                            generate('/tinas/' + document.getElementById('tinas').value + "/" + document.getElementById('corridas').value);
                                        }
                                    }else{
                                        generate('/tinas/' + document.getElementById('tinas').value + "/" + document.getElementById('corridas').value);
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!--    Fin seccion data    -->
        </div>
        <div class="ui top attached button">Gráfica de las Veces en las que se llegó a la Meta o se perdio la partida</div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <canvas id="chart"></canvas>
            </div>
        </div>
        <div class="ui bottom attached button">Jhon A. Carrión P.</div>
        <div class="ui top attached button">Gráficas de las ganancias-perdidas y el flujo de dinero, por iteración, NO por partida</div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <canvas id="chartNormal"></canvas>
                <canvas id="chartNormal2"></canvas>
            </div>
        </div>
        <div class="ui bottom attached button">Jhon A. Carrión P.</div>
        <div class="ui top attached button">Tabla de resultdos de la ejecucion del juego</div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <table class="ui celled table">
                    <thead>
                        <tr><th>Corrida</th>
                            <th>Tina</th>
                            <th>Aleatorio</th>
                            <th>Peso Tina</th>
                            <th>Peso Tina Acum</th>
                            <th>Excedio?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Corrida"></td>
                            <td data-label="Tina"></td>
                            <td data-label="Aleatorio"></td>
                            <td data-label="Peso Tina"></td>
                            <td data-label="Peso Tina Acum"></td>
                            <td data-label="Excedio?"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ui bottom attached button">Jhon A. Carrión P.</div>
    </div>
    <div class="column">
        <!--
<div class="ui segment">
1
</div>
-->
    </div>
</div>
<script>
    var generate = function(url){
        $.ajax({
            type: 'GET',
            url: url,
            success: function(data) {
                var out = "";
                var labels = [];
                var labels2 = [];
                var dataSet = [];
                var dataSet2 = [];
                var dataSet3 = [];
                var cont = 0;
                var cont_exedidas = 0;
                var aux = 0;
                var itemaux = "";
                data.forEach(function(item){
                    dataSet.push(item.exedio);
                    dataSet2.push(item.peso_acum);
                    labels.push(cont);
                    cont++;
                    if(item.exedio){
                        cont_exedidas++;
                    }
                    if(item.corrida != aux){
                        aux = itemaux.corrida;
                        labels2.push(aux);
                        dataSet3.push(itemaux.exedio);
                    }
                    itemaux = item;
                    if(data[data.length - 1].corrida <= 10){
                        out += '<tr>' +
                            '<td data-label="Corrida">' + (item.corrida + 1) + '</td>' +
                            '<td data-label="Tina">' + item.tina + '</td>' +
                            '<td data-label="Aleatorio">' + item.random + '</td>' +
                            '<td data-label="Peso Tina">' + item.peso + '</td>' +
                            '<td data-label="Peso Tina Acum">' + item.peso_acum + '</td>' +
                            '<td data-label="Excedio?">' + item.exedio + '</td>' +
                            '</tr>';
                    }else{
                        out = '<tr>' +
                            '<td data-label="Corrida">' + (item.corrida + 1) + '</td>' +
                            '<td data-label="Tina">' + item.tina + '</td>' +
                            '<td data-label="Aleatorio">' + item.random + '</td>' +
                            '<td data-label="Peso Tina">' + item.peso + '</td>' +
                            '<td data-label="Peso Tina Acum">' + item.peso_acum + '</td>' +
                            '<td data-label="Excedio?">' + item.exedio + '</td>' +
                            '</tr>';
                    }
                });
                $("table tbody").html(out);
                labels2.push(data[data.length - 1].corrida + 1);
                dataSet3.push(data[data.length - 1].exedio);
                if(data[data.length - 1].corrida <= 20000){
                    var ctx = document.getElementById('chart');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels2,
                            datasets: [{
                                label: "Grafica de Excedidas",
                                data: dataSet3,
                                borderColor: [
                                    'rgba(153, 102, 255, 0.6)'
                                ]
                            }]
                        }
                    });
                    ctx = document.getElementById('chartNormal');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Grafica de Excedidas General",
                                data: dataSet,
                                borderColor: [
                                    'rgba(153, 120, 105, 0.6)'
                                ]
                            }]
                        }
                    });
                    ctx = document.getElementById('chartNormal2');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Grafica de flujo de Peso Acumulado",
                                data: dataSet2,
                                borderColor: [
                                    'rgba(163, 120, 127, 0.6)'
                                ]
                            }]
                        }
                    });
                }else{
                    alert("El nuero de corridas es muy grande, por lo tanto las gráficas no se renderizaran.");
                }
                $("#ol_data").html("<ol>" +
                                   "<li>Exedio: " + cont_exedidas + "</li>" +
                                   "<li>Probabilidad de Exito: " + (Math.round(((cont_exedidas*100)/(data[data.length - 1].corrida + 1)) * 100) / 100)  + "%</li>" +
                                   "</ol> ");
            }
        });
    }
    var reset = function(){
        $("#ol_data").html("<ol>" +
                           "<li>Ganadas: </li>" +
                           "<li>Perdidas: </li>" +
                           "<li>Meta: </li>" +
                           "<li>Probabilidad de Exito: </li>" +
                           "</ol> ");
        var labels = [];
        var labels2 = [];
        var dataSet = [];
        var dataSet2 = [];
        var dataSet3 = [];
        var ctx = document.getElementById('chart');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels2,
                datasets: [{
                    label: "Grafica de Ganadas y Perdidas",
                    data: dataSet3,
                    borderColor: [
                        'rgba(153, 102, 255, 0.6)'
                    ]
                }]
            }
        });
        ctx = document.getElementById('chartNormal');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Grafica de Ganadas y Perdidas General",
                    data: dataSet,
                    borderColor: [
                        'rgba(153, 120, 105, 0.6)'
                    ]
                }]
            }
        });
        ctx = document.getElementById('chartNormal2');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Grafica de flujo de Dinero General",
                    data: dataSet2,
                    borderColor: [
                        'rgba(163, 120, 127, 0.6)'
                    ]
                }]
            }
        });
        var out = '<tr>' +
            '<td data-label="Corrida"></td>' +
            '<td data-label="Dinero antes de la apuesta"></td>' +
            '<td data-label="Apuesta"></td>' +
            '<td data-label="Aleatorio"></td>' +
            '<td data-label="Ganó?"></td>' +
            '<td data-label="Dinero despues de la apuesta"></td>' +
            '<td data-label="Meta?"></td>' +
            '</tr>';
        $("table tbody").html(out);
    }
</script>
