<div class="ui equal width grid">
    <div class="column">
        <!--
<div class="ui segment">
1
</div>
-->
    </div>
    <div class="fourteen wide column">
        <div class="ui centered cards">
            <!--   Seccion data    -->
            <div class="card">
                <div class="content">
                    <div class="header">Juego de Volados</div>
                    <div class="description">
                        <div class="summary">
                            <p>El juego consiste en  lanzar volados y verificar si las condiciones para ganar se dieron, hasta que el dinero ganado llegue a la meta.</p>
                            <div class="ui left icon input">
                                <input type="text" id="dinero" placeholder="dinero inicial">
                                <i class="users icon"></i>
                            </div>
                            <div class="ui left icon input">
                                <input type="text" id="apuesta" placeholder="dinero a apostar">
                                <i class="users icon"></i>
                            </div>
                            <div class="ui left icon input">
                                <input type="text" id="meta" placeholder="Meta">
                                <i class="users icon"></i>
                            </div>
                            <div class="ui left icon input">
                                <input type="text" id="corridas" placeholder="cantidad de corridas">
                                <i class="users icon"></i>
                            </div>
                            <div id="ol_data"></div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned author">
                        <div class="ui buttons">
                            <button class="ui button" onclick="reset()">Cancelar</button>
                            <div class="or"></div>
                            <button onclick="getData1()" class="ui positive button">Generar</button>
                            <script>
                                var getData1 = function(){
                                    if(Number(document.getElementById('corridas').value) > 900000){
                                        var opcion = confirm("Segun las caracteristicas del ordenador, las corridas superiores a 900000, exigen demaciada capacidad; por lo tanto el sistema colapsa.\n si continua el sistema podria o no colapsar.");
                                        if (opcion == true) {
                                            generate('/volados/' + document.getElementById('dinero').value + "/" + document.getElementById('apuesta').value + "/" + document.getElementById('meta').value + "/" + document.getElementById('corridas').value);
                                        }
                                    }else{
                                        generate('/volados/' + document.getElementById('dinero').value + "/" + document.getElementById('apuesta').value + "/" + document.getElementById('meta').value + "/" + document.getElementById('corridas').value);
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!--    Fin seccion data    -->
        </div>
        <div class="ui top attached button">Gráfica de las Veces en las que se llegó a la Meta o se perdio la partida</div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <canvas id="chart"></canvas>
            </div>
        </div>
        <div class="ui bottom attached button">Jhon A. Carrión P.</div>
        <div class="ui top attached button">Gráficas de las ganancias-perdidas y el flujo de dinero, por iteración, NO por partida</div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <canvas id="chartNormal"></canvas>
                <canvas id="chartNormal2"></canvas>
            </div>
        </div>
        <div class="ui bottom attached button">Jhon A. Carrión P.</div>
        <div class="ui top attached button">Tabla de resultdos de la ejecucion del juego</div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <table class="ui celled table">
                    <thead>
                        <tr><th>Corrida</th>
                            <th>Dinero antes de la apuesta</th>
                            <th>Apuesta</th>
                            <th>Aleatorio</th>
                            <th>Ganó?</th>
                            <th>Dinero despues de la apuesta</th>
                            <th>Meta?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Corrida"></td>
                            <td data-label="Dinero antes de la apuesta"></td>
                            <td data-label="Apuesta"></td>
                            <td data-label="Aleatorio"></td>
                            <td data-label="Ganó?"></td>
                            <td data-label="Dinero despues de la apuesta"></td>
                            <td data-label="Meta?"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ui bottom attached button">Jhon A. Carrión P.</div>
    </div>
    <div class="column">
        <!--
<div class="ui segment">
1
</div>
-->
    </div>
</div>
<script>
    var generate = function(url){
        $.ajax({
            type: 'GET',
            url: url,
            success: function(data) {
                $("#ol_data").html("<ol>" +
                                   "<li>Ganadas: " + data[data.length - 1].cant_ganadas + "</li>" +
                                   "<li>Perdidas: " + data[data.length - 1].cant_perdidias + "</li>" +
                                   "<li>Meta: " + data[data.length - 1].cont_meta + "</li>" +
                                   "<li>Probabilidad de Exito: " + (Math.round(((data[data.length - 1].cont_meta*100)/data[data.length - 1].corrida) * 100) / 100) + "%</li>" +
                                   "</ol> ");
                var out = "";
                var labels = [];
                var labels2 = [];
                var dataSet = [];
                var dataSet2 = [];
                var dataSet3 = [];
                var cont = 0;
                var aux = -1;
                data.forEach(function(item){
                    dataSet.push(item.meta);
                    dataSet2.push(item.d_luego);
                    labels.push(cont);
                    cont++;
                    if(item.corrida != aux){
                        aux = item.corrida;
                        labels2.push(aux);
                        dataSet3.push(item.meta);
                    }
                    if(data[data.length - 1].corrida <= 10){
                        out += '<tr>' +
                            '<td data-label="Corrida">' + item.corrida + '</td>' +
                            '<td data-label="Dinero antes de la apuesta">' + item.d_inicial + '</td>' +
                            '<td data-label="Apuesta">' + item.apuesta + '</td>' +
                            '<td data-label="Aleatorio">' + item.aleatorio + '</td>' +
                            '<td data-label="Ganó?">' + item.gano + '</td>' +
                            '<td data-label="Dinero despues de la apuesta">' + item.d_luego + '</td>' +
                            '<td data-label="Meta?">' + item.meta + '</td>' +
                            '</tr>';
                    }else{
                        out = '<tr>' +
                            '<td data-label="Corrida">' + item.corrida + '</td>' +
                            '<td data-label="Dinero antes de la apuesta">' + item.d_inicial + '</td>' +
                            '<td data-label="Apuesta">' + item.apuesta + '</td>' +
                            '<td data-label="Aleatorio">' + item.aleatorio + '</td>' +
                            '<td data-label="Ganó?">' + item.gano + '</td>' +
                            '<td data-label="Dinero despues de la apuesta">' + item.d_luego + '</td>' +
                            '<td data-label="Meta?">' + item.meta + '</td>' +
                            '</tr>';
                    }
                });
                $("table tbody").html(out);
                if(data[data.length - 1].corrida <= 20000){
                    var ctx = document.getElementById('chart');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels2,
                            datasets: [{
                                label: "Grafica de Ganadas y Perdidas",
                                data: dataSet3,
                                borderColor: [
                                    'rgba(153, 102, 255, 0.6)'
                                ]
                            }]
                        }
                    });
                    ctx = document.getElementById('chartNormal');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Grafica de Ganadas y Perdidas General",
                                data: dataSet,
                                borderColor: [
                                    'rgba(153, 120, 105, 0.6)'
                                ]
                            }]
                        }
                    });
                    ctx = document.getElementById('chartNormal2');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Grafica de flujo de Dinero luego de cada volado",
                                data: dataSet2,
                                borderColor: [
                                    'rgba(163, 120, 127, 0.6)'
                                ]
                            }]
                        }
                    });
                }else{
                    alert("El nuero de corridas es muy grande, por lo tanto las gráficas no se renderizaran.");
                }
            }
        });
    }
    var reset = function(){
        $("#ol_data").html("<ol>" +
                           "<li>Ganadas: </li>" +
                           "<li>Perdidas: </li>" +
                           "<li>Meta: </li>" +
                           "<li>Probabilidad de Exito: </li>" +
                           "</ol> ");
        var labels = [];
        var labels2 = [];
        var dataSet = [];
        var dataSet2 = [];
        var dataSet3 = [];
        var ctx = document.getElementById('chart');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels2,
                datasets: [{
                    label: "Grafica de Ganadas y Perdidas",
                    data: dataSet3,
                    borderColor: [
                        'rgba(153, 102, 255, 0.6)'
                    ]
                }]
            }
        });
        ctx = document.getElementById('chartNormal');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Grafica de Ganadas y Perdidas General",
                    data: dataSet,
                    borderColor: [
                        'rgba(153, 120, 105, 0.6)'
                    ]
                }]
            }
        });
        ctx = document.getElementById('chartNormal2');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Grafica de flujo de Dinero General",
                    data: dataSet2,
                    borderColor: [
                        'rgba(163, 120, 127, 0.6)'
                    ]
                }]
            }
        });
        var out = '<tr>' +
            '<td data-label="Corrida"></td>' +
            '<td data-label="Dinero antes de la apuesta"></td>' +
            '<td data-label="Apuesta"></td>' +
            '<td data-label="Aleatorio"></td>' +
            '<td data-label="Ganó?"></td>' +
            '<td data-label="Dinero despues de la apuesta"></td>' +
            '<td data-label="Meta?"></td>' +
            '</tr>';
        $("table tbody").html(out);
    }
</script>
